<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}" target="_blank">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        <p class="view"><a href="/" target="_blank">Software by g/christensen <small>gchristensen.github.io</small></a></p>

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        <p class="view">&#10084;&#65039; <a href="https://www.patreon.com/gchristnsn" target="_blank">Support the Project</a></p>

        {% if site.show_downloads %}
        <ul class="downloads">
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
    </header>
    <section>

        <h1 id="add-torrent">Enso Retreat</h1>

        <p><img height="16px" width="16px" src="/download.png" alt="Download"/> <img height="16px" width="16px" src="/windows.png" alt="Firefox"/>
            <a id="app-link" href="#">Download</a>
            :: <img height="16px" width="16px" src="/youtube.png" alt="Youtube" style="max-width:100%;">
            <a href="https://youtu.be/jAxHGJGaSt4" target="_blank">Video Manual</a>
        </p>
        <script>
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var release = JSON.parse(this.responseText);
                    var link = document.getElementById("app-link");
                    link.href = release.assets[0].browser_download_url;
                }
            };
            xhr.open('GET', 'https://api.github.com/repos/gchristensen/retreat/releases/latest');
            xhr.send();

            function watch() {
                document.getElementById('placeholder').style.display='none';
                document.getElementById('webm').style.display='block';
                var video = document.querySelector('#webm video');
                video.play();
                setTimeout(function () {
                    document.getElementById('webm').style.display = 'none';
                    document.getElementById('placeholder').style.display = 'block';
                }, 19000);
            }

            setTimeout(function() {
                if (navigator.userAgent.search("Chrome") >= 0
                    || navigator.userAgent.search("Firefox") >= 0) {

                    watch();
                }
            }, 1000);
        </script>

        <div id="placeholder" style="display: block;">
            <div style="position: relative; display: table;" onclick="watch()">
                <!--img title="Watch on Youtube" style="cursor: pointer;" src="/enso-portable/screen.jpg" alt="screen" /-->
                <img style="cursor: pointer;" src="/retreat/screen.jpg" alt="screen"/>
                <div style="position: absolute; right: 10px; bottom: 10px; color: white; font-weight: bold; cursor: pointer;" onclick="watch()"
                ><img src="/play_video.png" style="vertical-align: middle; cursor: pointer;"></div>
            </div>
        </div>

        <div id="webm" style="display: none;">
            <video src="/retreat/media/retreat.webm" width="100%" type="video/webm" muted />
        </div>

        <p>SEE ALSO: <a href="https://gchristensen.github.io/enso-portable/">Enso open-source</a>
        <h4>Description</h4>
        <p style="text-align: justify;">Enso Retreat is a simple break reminder program which periodically blocks your computer to force you rest. 
        If you used similar ones before, you know about their cruel nature. 
        Enso Retreat is an attempt to create humane software of such kind where the most significant aspects could be customized.
        Enso Retreat is already embedded into <a href="https://gchristensen.github.io/enso-portable/">Enso open-source</a> as an optional module, 
        but you may use it as a separate application, if necessary.
        </p>

  <h4>Features</h4>
  <ul>
    <li>Transparent interface.</li>
    <li>Gentle break notification.</li>
    <li>Ability to skip the first break (once per day).</li>
    <li>Ability to automatically skip breaks when a certain program is running or when user does not show any activity (this may be useful when you are watching a movie or playing a game).</li>
    <li>During the break it's possible to control other software with keystrokes which include Alt, Ctrl or Shift keys (e.g. foobar2000).</li>
    <li>You can place your favorite wallpapers over the desktop when computer is locked.</li>
  </ul>


        <h4>The Context Menu</h4>
        <blockquote>
            <img src="/retreat/media/site/context_menu.png">

            <ul>
                <li>Disable - temporarily disable Enso Retreat (it will not lock the system for two hours).</li>
                <li>Delay - delay a break for the specified time.</li>
                <li>Skip - skip a break (available only once per day).</li>
                <li>Take Break Now - lock the system immediately.</li>
                <li>Options - show the options dialog.</li>
                <li>About - show copyright and versioning information.</li>
                <li>Exit - close Enso Retreat.</li>
            </ul>
        </blockquote>

        <h4>Behaviour Settngs</h4>
        <blockquote>
            <img src="/retreat/media/site/behaviour_settings.png">

            <h5>Periodic Breaks</h5>
            <p>A periodic break occurs once in a specified period of time (near to the end of it).</p>
            <ul>
                <li>Period Duration - period duration in minutes.</li>
                <li>Break Duration - break duration in minutes.</li>
                <li>Disable Periodic Breaks - do not use periodic breaks (only scheduled breaks will be available).</li>
                <li>Synchronize With System Time - if checked, attach the start of the period to the beginning of a hour or to the program start time otherwise.</li>
            </ul>

            <h5>Delays</h5>
            <ul>
                <li>Alert Time - show the alert timer by the specified time before a break start.</li>
                <li>Break Duration - break duration in minutes.</li>
                <li>Delay Time - it's possible to delay a break several times for the time specified in this setting.</li>
                <li>Number of Delays - specifies maximum number of available delay attempts.</li>
                <li>Use Restrictions - use restriction options (see below) to skip breaks when specific conditions are applicable.</li>
                <li>Beep After Break - play sound after the break end (you may customize this in the appearance options).</li>
            </ul>

        </blockquote>

        <h4>Scheduled Break Settings</h4>
        <blockquote>
            <p>A scheduled break occurs exactly in the time specified by a <a href="http://en.wikipedia.org/wiki/Crontab">crontab</a>-like record (this is not a real crontab).
                For example, you can use the chrontab record, shown on screenshots below, to make 15 min. long break at 13:15 on each working day.
                Leave the `Display Message' field blank, if you don't want any message after the break end to be displayed.</p>

            <div>
                <img src="/retreat/media/site/scheduled_breaks.png">
                <img src="/retreat/media/site/crontab.png">
            </div>

        </blockquote>

        <h4>Appearance Settings</h4>
        <blockquote>

            <img src="/retreat/media/site/appearance_settings.png">

            <h5>Window</h5>
            <ul>
                <li>Mode - select how Enso Retreat will lock you screen:</li>
                <ul>
                    <li>Fullscreen - show fullscreen image.</li>
                    <li>Fullscreen (transparent) - the same as above, but image areas filled with the `Transparent Color' will be completely transparent (reasonable only for BMP images without compression artifacts).</li>
                    <li>Windowed - show image in a window which will match image dimensions.</li>
                    <li>Windowed (transparent) - the same as above, but image areas filled with the `Transparent Color' will be completely transparent.</li>
                </ul>
                <li>Opacity Level - an opacity level of the Enso Retreat blocking window (0-255), it is also adjustable with +/- numeric keyboard keys during the break.</li>
                <li>Background Color - the background color of the Enso Retreat blocking window.</li>
                <li>Transparent Color - the color of areas which will be completely transparent (will be taken from the top-left image pixel by default).</li>
            </ul>

            <h5>Timer</h5>

            <ul>
                <li>Hide Timer - do not display timer during the break.</li>
                <li>Timer Font Color - the timer font color.</li>
            </ul>

            <h5>Media</h5>
            <ul>
                <li>Image Folder - if specified, a random image will be taken from this folder to show during the break (to show only one specific image store a single image in this folder). JPEG, BMP and GIF image formats are supported.</li>
                <li>Stretch Images - stretch images if they are too small to fit the screen.</li>
                <li>Sound Folder - a folder for sounds to be played at the break end randomly (if not specified, Enso Retreat will play the standard system sound).</li>
            </ul>
        </blockquote>

        <h4>Restriction Settings</h4>
        <blockquote>
            <img src="/retreat/media/site/restriction_settings.png">
            <ul>
                <li>Be quiet if no user activity has been detected... - do not lock the system if there have been no keyboard or mouse actions during the specified time before the start of a break.</li>
                <li>Restriction List - Enso Retreat will not lock the system if at least one of the programs specified here is running.</li>

            </ul>
        </blockquote>

        </blockquote>
    </section>
    <footer>
    </footer>
</div>
<script src="{{ "/assets/scale.fix.js" | relative_url }}"></script>
</body>
</html>
